@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 000000;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2em !important;
}

h2 {
  font-size: 1.5em !important;
}

h3 {
  font-size: 1.17em !important;
}

h4 {
  font-size: 1em !important;
}

h5 {
  font-size: 0.83em !important;
}

h6 {
  font-size: 0.75em !important;
}
